* { box-sizing: border-box;}

html, body {
    height: 100%;
}

body {
    font-family: sans-serif;
    background-color: lightgray;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Player*/
.player {
    min-width: 320px;
    background-image: linear-gradient(rgb(241, 63, 63), white);
    border-radius: 1rem;
    padding: 2rem;
    color: black;
    box-shadow: 2px 2px 3px rgb(65, 61, 61);
}

/* Title*/
.title {
    margin: 0;
    text-align: center;
}

/* Cover*/
.cover {
    width: 128px;
    border-radius: .3rem;
    display: block;
    margin: 0 auto 1rem auto;
    padding: .3rem;
}

/* Progress*/
.progress-container {
    height: .2rem;
    background-color: rgb(56, 51, 51);
    margin-bottom: 1rem;
}

.progress {
    background-color: white;
    width: 40%;
    height: 100%;
}

/*Controls*/
.controls {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1rem;
}

.controls button {
    background-color: transparent;
    border: none;
}

.controls i {
    font-size: 1.2rem;
    color: rgb(56, 51, 51);
}

/*Songs*/
.songs {
    margin: 0;
    padding: 0;
    list-style: none;
}

.songs li {
    margin-bottom: 1rem;
}

.songs a {
    color: rgb(116, 107, 107);
    text-decoration: none;
}

.songs a.active {
    color: rgb(139, 115, 115);
    font-weight: bold;
}

h1 {
    color: lightgray;
    font-size: 1.5rem;
    padding: 1rem;
}